
@{
    ViewData["Title"] = " درباره ما";
}

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>@ViewData["Title"]</h1>
        <span></span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>


    </div>

</section><!-- #page-title end -->

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            <div class="fancy-title title-border">
                <h3>درباره سیستم نمایندگان بیمه ملت</h3>
            </div>
            <div>

متن درباره شرکت ...
            
            </div>
            <div class="fancy-title title-border">
                <h3>اعضای اصلی شرکت</h3>
            </div>

            <div class="col_one_third">

                <div class="team">
                    <div class="team-image">
                        <img src="~/client/images/team/akbari.jpg" alt="مهندس علی اکبری">
                    </div>
                    <div class="team-desc">
                        <div class="team-title"><h4>مهندس علی اکبری</h4><span>مدیر عامل</span></div>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col_one_third">

                <div class="team">
                    <div class="team-image">
                        <img src="~/client/images/team/atyabi.jpg" alt="آقای علی اطیابی">
                    </div>
                    <div class="team-desc">
                        <div class="team-title"><h4>آقای سید علی اطیابی</h4><span>رئیس هیئت مدیره</span></div>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col_one_third col_last">

                <div class="team">
                    <div class="team-image">
                        <img src="~/client/images/team/falahpoor.jpg" alt="آقای فلاح پور">
                    </div>
                    <div class="team-desc">
                        <div class="team-title"><h4>آقای فلاح پور</h4><span>نایب رئیس هیئت مدیره</span></div>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="clear"></div>




        </div>

    </div>

</section><!-- #content end -->