<div class="panel panel-default top30 col-md-6 col-md-push-3">
    <div class="panel-heading">
        <h3 class="panel-title">با تشکر!</h3>
    </div>
    <div class="panel-body">
        ثبت نام نماینده با موفقیت انجام شد. لطفا از نماینده بخواهید به میل باکس خود مراجعه کرده و ایمیل خود را تائید نماید. همچنین شما می توانید از بخش مدیریت نمایندگان ایمیل را تایید نمایید
        <partial name="_PickupFolder" />
    </div>
</div>