@model RegisterViewModel

@{
    ViewData["Title"] = "ثبت نام کاربر جدید";
}


<section class="header-breadcrumb bgimage overlay overlay--dark">
    <div class="bg_image_holder"><img src="~/Client/img/breadcrumb1.jpg" alt=""></div>
    <div class="mainmenu-wrapper">

        <partial name="_UserPublicMenu" />

    </div><!-- ends: .mainmenu-wrapper -->
    <div class="breadcrumb-wrapper content_above">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="page-title">ثبت نام در آموزشگاه</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div><!-- ends: .breadcrumb-wrapper -->
</section>

<section class="add-listing-wrapper border-bottom section-bg section-padding-strict">

    <div class="container">
        <div class="container">
            <form asp-controller="Register"
                  asp-action="Index"
                  method="post"
                  class="form-horizontal top30">
                @{ await Html.RenderPartialAsync("_CustomValidationSummary").ConfigureAwait(false); }
                <div class="row">


                    <div class="col-lg-10 offset-lg-1">
                        <div class="atbd_content_module">
                            <div class="atbd_content_module__tittle_area">
                                <div class="atbd_area_title">
                                    <h4><span class="la la-user"></span>اطلاعات عمومی </h4>
                                    <h6><span class="la la-user"></span> معرف شما : @ViewBag.NameOfUser </h6>
                                </div>
                            </div>
                            <div class="atbdb_content_module_contents">

                                <div class="form-group hidden">
                                    <div class="input-group hidden">
                                        <input dir="rtl" asp-for="Referrer" class="form-control" hidden="hidden"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label asp-for="FirstName" class="form-label"></label>
                                    <div class="input-group">
                                        <input dir="rtl" asp-for="FirstName" class="form-control" />
                                    </div>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="LastName" class="form-label"></label>
                                    <div class="input-group">
                                        <input dir="rtl" asp-for="LastName" class="form-control" />
                                    </div>
                                    <span asp-validation-for="LastName" class="text-danger"></span>

                                </div>




                            </div><!-- ends: .atbdb_content_module_contents -->
                        </div><!-- ends: .atbd_content_module -->
                    </div><!-- ends: .col-lg-10 -->

                    <div class="col-lg-10 offset-lg-1">
                        <div class="atbd_content_module">
                            <div class="atbd_content_module__tittle_area">
                                <div class="atbd_area_title">
                                    <h4><span class="la la-user"></span>اطلاعات ورود</h4>
                                </div>
                            </div>
                            <div class="atbdb_content_module_contents">

                                <div class="form-group">
                                    <label asp-for="Username" class="col-md-3 control-label"></label>
                                    <div>
                                        <input dir="ltr" asp-for="Username" class="form-control" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" class="col-md-3 control-label"></label>
                                    <div>
                                        <input dir="ltr" asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
                                    <div>
                                        <input dir="ltr" asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>







                            </div><!-- ends: .atbdb_content_module_contents -->
                        </div><!-- ends: .atbd_content_module -->
                    </div><!-- ends: .col-lg-10 -->

                    <div class="col-lg-10 offset-lg-1">
                        <div class="atbd_content_module">
                            <div class="atbd_content_module__tittle_area">
                                <div class="atbd_area_title">
                                    <h4><span class="la la-user"></span>اطلاعات تماس</h4>
                                </div>
                            </div>
                            <div class="atbdb_content_module_contents">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="form-label"></label>
                                    <div class="input-group top15">
                                        <input dir="ltr" asp-for="PhoneNumber" class="form-control" />
                                    </div>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input dir="ltr" asp-for="Email" type="email" class="form-control" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>

                            </div>
                        </div><!-- ends: .atbd_content_module -->
                    </div><!-- ends: .col-lg-10 -->
                </div>

                <div class="col-lg-10 offset-lg-1  text-center">
                    <div class="atbd_content_module">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-calendar-check-o"></span> بخش امنیت</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents ">
                            <div class="form-group">
                                <label class="col col-md-3 control-label">
                                    کد امنیتی را وارد نمائید
                                </label>
                                <div class="controls  text-center">
                                    <dnt-captcha asp-captcha-generator-max="1000"
                                                 asp-captcha-generator-min="1"
                                                 asp-captcha-generator-language="Persian"
                                                 asp-font-name="Tahoma"
                                                 asp-font-size="20"
                                                 asp-fore-color="#333333"
                                                 asp-back-color="#ccc"
                                                 asp-text-box-class="text-box single-line form-control"
                                                 asp-text-box-template="<div class='input-group'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
                                                 asp-validation-message-class="text-danger" />
                                </div>
                            </div>
                        </div><!-- ends: .atbdb_content_module_contents -->
                    </div><!-- ends: .atbd_content_module -->
                </div><!-- ends: .col-lg-10 -->


                <div class="col-lg-10 offset-lg-1 text-center">


                    <div class="btn_wrap  m-top-25">
                        <button type="submit" class="btn btn-primary btn-lg">ثبت نام اولیه</button>
                    </div>
                </div><!-- ends: .col-lg-10 -->
            </form>
        </div>
    </div>
</section><!-- ends: .add-listing-wrapper -->



@section Scripts
    {
    <script type="text/javascript">
        function triggerRemoteValidation() {
            $('#@nameof(RegisterViewModel.Username)').removeData('previousValue');
            $('form').validate().element('#@nameof(RegisterViewModel.Username)');

            $('#@nameof(RegisterViewModel.Email)').removeData('previousValue');
            $('form').validate().element('#@nameof(RegisterViewModel.Email)');
        }
    </script>
}