<div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <h6 class="alert-heading text-semibold">سیستم مدیریت نمایندگان بیمه</h6>
    <h4>خوش آمدید!</h4>
</div>

<div>

</div>