@model WalletChargeViewModel
@{
    ViewData["Title"] = "شارژ کیف پول";
}
<form asp-controller="Wallet"
      asp-action="WalletCharge"
      asp-route-returnurl="@ViewData["ReturnUrl"]"
      method="post"
      autocomplete="off"
      class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewData["Title"]</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <h2>توضیحات !</h2>
                <p>
                    در این قسمت شما قادر خواهید بود تا اعتبار کیف پول خود را افزایش داده و از آن در خرید های خود استفاده نمایید
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <h2>کیف پول خود را به مبلغ دلخواه شارژ کنید</h2>
                        <input asp-for="Id" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control price", @required = "", dir = "ltr" })
                                    <div class="input-group-addon">تومان</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-info"><i class="fa fa-save"> </i> پرداخت آنلاین  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>