
@{
    ViewData["Title"] = "تماس با ما";
}

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>@ViewData["Title"]</h1>
        <span></span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>


    </div>

</section><!-- #page-title end -->


<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
    ============================================= -->
            <div class="postcontent nobottommargin">

                <!-- Contact Form
        ============================================= -->

                <div class="contact-widget">

                    <div class="contact-form-result"></div>

                    <form class="nobottommargin" id="template-contactform" name="template-contactform" action="#" method="post">

                        <div class="form-process"></div>

                        <div class="col_one_third">
                            <label for="template-contactform-name">نام <small>*</small></label>
                            <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                        </div>

                        <div class="col_one_third">
                            <label for="template-contactform-email">ایمیل <small>*</small></label>
                            <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                        </div>

                        <div class="col_one_third col_last">
                            <label for="template-contactform-phone">تلفن</label>
                            <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" />
                        </div>

                        <div class="clear"></div>

                        @*<div class="col_two_third">
                        <label for="template-contactform-subject">موضوع <small>*</small></label>
                        <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control" />
                    </div>

                    <div class="col_one_third col_last">
                        <label for="template-contactform-service">خدمات</label>
                        <select id="template-contactform-service" name="template-contactform-service" class="sm-form-control">
                            <option value="">-- یکی را انتخاب کن --</option>
                            <option value="Wordpress">وردپرس</option>
                            <option value="PHP / MySQL">PHP / MySQL</option>
                            <option value="HTML5 / CSS3">HTML5 / CSS3</option>
                            <option value="Graphic Design">طراحی گرافیک</option>
                        </select>
                    </div>*@

                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-message">متن پیام <small>*</small></label>
                            <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                        </div>

                        <div class="col_full hidden">
                            <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">ارسال</button>
                        </div>

                    </form>
                </div>


                <div class="line"></div>




            </div><!-- .postcontent end -->
            <!-- Sidebar
    ============================================= -->
            <div class="sidebar nobottommargin col_last clearfix">
                <div class="sidebar-widgets-wrap">

                    <div class="widget widget_links clearfix">

                        <h4>لینک های مفید</h4>
                        <ul>
                            <li> <a href="http://Microdownload.ir" target="_blank"> <div> آموزشگاه آنلاین </div> </a> </li>
                        </ul>

                    </div>

                    <div class="widget widget-twitter-feed clearfix">

                        <h4>اینستاگرام</h4>
                        <ul class="iconlist twitter-feed" data-username="envato" data-count="2">
                            <li></li>
                        </ul>

                        <a href="https://www.instagram.com/Microdownload/" class="btn btn-secondary btn-sm fright">در اینستاگرام همراه ما باشید</a>

                    </div>


                    <div class="widget clearfix">


                    </div>


                </div>
            </div><!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->
