
@{
    ViewData["Title"] = "نمایندگان برتر بیمه های زندگی";
}

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>@ViewData["Title"]</h1>
        <span></span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>


    </div>

</section><!-- #page-title end -->

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            <div class="fancy-title title-border">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div>

                به زودی ...

            </div>

        </div>

        <div class="clear"></div>




    </div>


</section><!-- #content end -->
